/*
Background=red
border-color=gray


*/
html{
   background: url("pics/background1.png");
   background-size: 50%;
    }



/*Classes start*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid;
    border-color:green;
    position:relative;
    background-color:black;
}
.right{
    float:right;
    margin-right:5px;
}
.left{
    float:left;
    margin-left:5px;
}
/*Classes end*/

/*Table start*/
table td{
    text-align:center;
    font:bold 14px Arial, serif;
    background-color:green;
    color:black;
    padding:10px;
}
table th
{
background-color:green;
color:black;
padding:10px;
}
/*Table end*/

/* Header start */
header 
{
position:relative;
top:0px;
width:1195px;
border: 0px solid; border-color:gray;
clear:both;
background: url("pics/logo.png") no-repeat;
display:block;
font:bold 12px Arial, serif;color:green;
height:250px;
}

header h1
{color:green; text-align:center;
}
header h2
{color:green; text-align:center;
}
header p
{color:green; text-align:center;
}
/* Header end */

/* Meny */
nav
{
     float:left;
     width:100px;
     margin: 0 0 0 0;
     position:relative;
     max-height: none;
     font:bold 14px Arial, serif;
     background-color:black;
     padding: 10px; 
     
}
nav ul 
{
    margin: 5px;
    padding: 5px;
    list-style: none;
}
nav li:hover, nav li:hover + li 
{
    border-color: red;
}
nav a 
{
    width: 120px;
    display: inline-block;
    color:green;
}
nav li:hover a, nav li:hover #active 
{
    color: red;
}
nav li #active 
{
    color: red;
}
nav li #active:hover 
{
    color: red;
}
/* Meny end*/

/*Using a green border to frame the content on the page, floating right with a white background and black text
for easy reading.*/
section
{
    margin: 0 0 0 0;border: 3px solid; border-color:green; max-height: none; float:right; position:relative ;width: 1050px ;
    background: url("pics/background2.png");
    background-size: 100%;
    padding:10px;
}
/* Centered text*/
section h3{
    text-align:center; font:bold 24px Arial, serif;width: 1050px ; background-color:green; clear:both;height:55px;float:left;
}
footer
{
    position:relative;max-width:1200px;display:block;clear:both;
    max-height:100px;
    font:bold 24px Arial, serif;color:green;
    background-color:black;
}

footer p
{
    color:green; text-align:center;
}